<nav>
  <ul>
    <li><a href="/application/feed">V-BOARD</a></li>
    <li><a href="/application/profile">Your Profile</a></li>
    <li class="active-nav">Create new post</li>
    <li><a href="/application/following">People you follow</a></li>
    <li><a href="/application/followers">Followers</a></li>
    <li><a href="/application/users">Find Users</a></li>
  </ul>
</nav>

<div class="search-remove" class="search">
      <button ng-click="pctrl.makeCall()">Search</button>
      <input
        type="text"
        placeholder="search for a track"
        ng-model="pctrl.searchString"/>
</div>

    <ul  ng-repeat="track in pctrl.tracks | filter:search:strict">
      <li class="search-remove">
          {{track.title}}
          <button class="play" data-id="{{$index}}" data-url="{{track.permalink_url}}" ng-click="pctrl.getPlayer()">Play</button>
          <button class="choose" data-id="{{$index}}" data-url="{{track.permalink_url}}" data-title="{{track.title}}" ng-click="pctrl.chooseSong()">choose</button>
      </li>
    </ul>

      <iframe class="iframe" width="0" height="0" scrolling="no" frameborder="no"></iframe>


<form ng-submit="pctrl.createPost()">
  <input type="hidden" name="authenticity_token"
    value="{{pctrl.aut}}">
  <input id="track-input" type="text" name="post[title]" placeholder= "track"></br>
  <input id="source-input" type="text" name="post[source]" hidden></br>
  <select name="post[vibe]">
    <option value="sad">Sad</option>
    <option value="cool">Cool</option>
    <option value="happy">Happy</option>
    <option value="angry">Angry</option>
  </select>
  </br>
  <input type="submit" value="submit new post">
</form>

<div class="post" ng-repeat="post in userCtrl.founduserposts">
  <p class="vibe">{{post.vibe}}</p>
  <p>{{post.title}}</p>
</div>
