<%= render partial: 'layouts/header' %>

<h2> Moodboard </h2>

<%= render partial: 'layouts/nav' %>

<ul class="moods">
  <li>sad</li>
  <li>blue</li>
  <li>happy I guess?</li>
  <li>f u world</li>
</ul>
