/* general styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* welcome page | logo */

.logo {
  margin: 10%;
  color: deeppink;
  animation: color 4s linear infinite;
}

.ball {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: deeppink;
  position: absolute;
  top: 90px;
  left: 105px;
  animation: orbit 4s linear infinite;
}

/*@keyframes orbit {
    from { transform: rotate(0deg) translateX(60px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(60px) rotate(-360deg); }
}

@keyframes color {
  50% {color: black}
}*/


/* welcome page | login / signup */



.login {
  width: 50%;
  position: relative;
  top: 10%;
  left: 30%;
  display: inline-block;
  transition: 2s;
}

h3 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 3%;
  position: relative;
  top: 10%;
  left: 30%;
  transition: 5s;
}

h3 a {
  text-decoration: none;
  color: black;
}

h3 a:hover {
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}

h3 a:active {
  color: lightgrey;
  border-bottom: 1px solid lightgrey;
}

.active-h3 {
  color: deeppink;

  font-weight: bold;
}

input {
  margin-bottom: 5%;
  font-size: 0.5em;
  padding: 2%;
  width: 90%;
}

.welcome-submit {
  font-size: 1em;
  background-color: white;
  color: black;
  display: block;
  padding: 2%;
  width: 90%;
  text-align: center;
  box-shadow: 2px 0px 10px #888888;
}

.welcome-submit:hover {
  box-shadow: 2px 0px 20px #888888;
}
