<%= render partial: 'layouts/header' %>

<header ng-controller="HeaderController as header">
  <h2> Welcome to your vibezboard, {{header.current_user.username}}. </h2>

  <%= render partial: 'layouts/nav' %>

</header>

<main ng-view>

</main>
