<main ng-controller="Controller as ctrl">

  <%= render partial: 'layouts/header' %>

  <h2> Moodboard </h2>

  <%= render partial: 'layouts/nav' %>

  <ul class="moods">
    <li>sad</li>
    <li>blue</li>
    <li>happy I guess?</li>
    <li>f u world</li>
  </ul>


  <!-- <h2>Submit a new article</h2>
  <form ng-submit="ctrl.createArticle()">
    <input type="text" ng-model="ctrl.newArticleTitle" placeholder="Title">
    <textarea ng-model="ctrl.newArticleBody" placeholder="Text.."></textarea>
    <input type="submit" value="Submit Article"/>
  </form> -->


</main>
