<main ng-controller="HeaderController as ctrl">

  <%= render partial: 'layouts/header' %>

<header ng-controller="HeaderController as header">
  <h2> Welcome to your vibezboard </h2>
{{header.foo}}
  <%= render partial: 'layouts/nav' %>

</header>

<main ng-view>

</main>
