<%= render partial: 'layouts/header' %>

<<<<<<< HEAD
<div ng-controller="ParentController">
  <div ng-view>
    <!-- angular templates -->
  </div>
=======

<div ng-view>
<!-- angular templates -->
>>>>>>> 61d50e90adbc5d477f3d25d251b7500caf5fa116
</div>
