<% if current_user %>
<nav>
  <ul>
    <li><a href="/application/vibezboard">Vibezboard</a></li>
    <li><a href="/application/profile">Your Profile</a></li>
    <li><a href="/application/newpost">Create new post</a></li>
    <li><a href="/application/vibezboard">People you follow</a></li>
    <li><a href="/application/vibezboard">Followers</a></li>
  </ul>
</nav>
<% end %>
