<nav>
  <ul>
    <li><a href="/application/dashboard">Moodboard</a></li>
    <li><a href="/posts">Your Vibez</a></li>
    <li><a href="/posts/new">Create new post</a></li>
    <li><a href="/">People you follow</a></li>
    <li><a href="/">Followers</a></li>
  </ul>
</nav>
