<nav>
  <ul>
    <li><a href="/application/vibezboard">Vibezboard</a></li>
    <li><a href="/application/profile">Your Profile</a></li>
    <li><a href="/application/newpost">Create new post</a></li>
    <li><a href="/application/angular">People you follow</a></li>
    <li><a href="/application/angular">Followers</a></li>
  </ul>
</nav>
