<nav>
  <ul>
    <li><a href="/application/angular">Vibezboard</a></li>
    <li><a href="/posts">Your Profile</a></li>
    <li><a href="/posts/new">Create new post</a></li>
    <li><a href="/">People you follow</a></li>
    <li><a href="/">Followers</a></li>
  </ul>
</nav>
